Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
HaDeX-package.Rproj
vignettes/overview.R
vignettes/overview.html
codecov.yml
hadex.Rproj
HaDeX.Rproj
renv
docs/*
vignettes/*.html
vignettes/*.R
.Renviron
