/* HTML TAGS */

html {
  font-size: 16px;
}

h2 {
  border-width: 0 0 ;
}

body {
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #515363;
  text-align: left;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Lato-Regular.ttf') format('truetype');
}

:root {
  --font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "Fira Code";
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* BOOTSTRAP CLASSES */

.navbar-header {
  /* no need to display as we have logo*/
  display: none;
}

.col-sm-1, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4, 
.col-sm-5, 
.col-sm-6, 
.col-sm-7, 
.col-sm-8, 
.col-sm-9, 
.col-sm-10, 
.col-sm-11, 
.col-sm-12 {
    float: left;
}

.sandstone, 
.tooltip, 
.dropdown-menu .dropdown-item, 
.dropdown-menu > li > a, 
.pagination, 
.breadcrumb,
.nav-pills .nav-link, 
.nav-pills ul.nav.navbar-nav > li > a, 
.nav-pills .nav-tabs > li > a, 
.nav-pills > li > a, 
.nav-tabs .nav-link, .nav-tabs ul.nav.navbar-nav > li > a, 
.nav-tabs > li > a, 
.nav-tabs .nav-pills > li > a, 
.btn, 
.navbar .nav-link, 
.navbar ul.nav.navbar-nav > li > a, 
.navbar .nav-tabs > li > a, 
.navbar .nav-pills > li > a {
    font-size: 18px;
}

.input-group-prepend {
  height: calc(1.5em + .75rem + 2px);
}

.shiny-table {
  margin: auto;
}

.shiny-plot-output, .datatables {
  margin: 20px 0;
}

.well {
  display: block;
  background-color: rgba(235, 231, 239, 0.25);
  color: #515363;
  padding: 1.25rem;
  border-radius: .25rem;
  background-clip: border-box;
  border: 1px solid rgba(190,190,195,0.75);
  word-wrap: break-word;
}

/* OTHER EXTERNAL CLASSES */

.loader-img {
  max-width: 200px;
}

.shinyhelper-container {
  right: 20px !important;
}

.collapse-btn {
  margin: 10px 30px;
  width: calc(100% - 60px);
}

.navbar {
  color: rgba(37,40,61,0.5) !important;
  background-color: #CCC2D6 !important;
  border: none;
}
 
.navbar.navbar-default .navbar-nav .nav-link:hover, 
.navbar.navbar-default .navbar-nav .nav-tabs > li > a:hover, 
.navbar.navbar-default .navbar-nav .nav-pills > li > a:hover, 
.navbar.navbar-default ul.nav.navbar-nav > li > a:hover, 
.navbar.navbar-default .navbar-nav .nav-link:focus, 
.navbar.navbar-default .navbar-nav .nav-tabs > li > a:focus, 
.navbar.navbar-default .navbar-nav .nav-pills > li > a:focus, 
.navbar.navbar-default ul.nav.navbar-nav > li > a:focus {
  color: #FFFEFD;
}

.tooltip, 
.dropdown-menu .dropdown-item, 
.dropdown-menu > li > a, 
.pagination, 
.breadcrumb, 
.nav-pills .nav-link, 
.nav-pills ul.nav.navbar-nav > li > a, 
.nav-pills .nav-tabs > li > a, 
.nav-pills > li > a, 
.nav-tabs .nav-link, 
.nav-tabs ul.nav.navbar-nav > li > a, 
.nav-tabs > li > a, 
.nav-tabs .nav-pills > li > a, 
.btn, 
.navbar .nav-link, 
.navbar ul.nav.navbar-nav > li > a, 
.navbar .nav-tabs > li > a, 
.navbar .nav-pills > li > a {
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
  color: #25283D;
  background-color: transparent;
}

.nav-tabs {
  gap: 7px;
}

.nav-tabs > li > a {
  text-align: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

/* CUSTOM CLASSES AND IDS */

#HaDeX-logo {
  position: absolute;
  float: right;
  top: 0px;  
  right: 0px;
  z-index: 1000;
  
  /* height of navbar = 5 + 40 + 5 */
  margin: 5px;
  height: 40px; 
}

#HaDeX-funding-icons {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

#HaDeX-file-status-panel {
  margin-top: -10px;
  margin-left: 20px;
}

#HaDeX-file-status-panel .loader-img {
  height: 50px;
  width: 50px;
}

#HaDeX-file-status-panel .shiny-loader-placeholder {
  height: 0px !important;
}

#HaDeX-settings-panel {
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
}

#HaDeX-settings-panel * {
  max-width: 800px !important;
}

#HaDeX-file-requirements-section {
  margin-top: 15px;
}

#HaDeX-file-requirements-table {
  margin: 15px;
}

#file_req {
  margin: 0 auto;
}

#data_file_info {
  font-weight: bold;
}

#peptide_list_data,
#rep_sequence {
  overflow-x: auto;
}

#summary_table {
  margin: 20px auto;
}

.HaDeX-nonplot-tab-content {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto 30px;
}

.HaDeX-tab-content-element {
  
  max-height: calc(100vh - 110px); /* TODO: recalculate value */
  overflow-y: auto;
}

.HaDeX-plot-display-panel {
  padding-right: 20px;
}

.HaDeX-plot-tab-content {
  gap: 20px;
}

h4.HaDeX-plot-settings-panels-header {
  border-bottom: 3px solid;
  margin-top: -10px;
}

h5.HaDeX-plot-settings-panels-section-title {
  border-bottom: 1px solid;
}

.HaDeX-plot-display-panel-container {
  gap: 20px
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #188B55;
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  background-color: transparent;
}

.btn-default,
.btn-secondary {
  color: #FFFEFD;
  background: #485696 linear-gradient(180deg, #636fa5, #485696) repeat-x;
  border-color: #485696;
  white-space: normal;
}

.btn-default:hover, 
.btn-secondary:hover {
  color: #FFFEFD;
  background: #3c477c linear-gradient(180deg, #59638f, #3c477c) repeat-x;
  border-color: #374274;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #25283D;
  background-color: #f8f7f7;
  padding: .5rem;
  border: 1px solid #BEBEC3;
  border-radius: .25rem;
}

pre, code, kbd, samp {
  font-family: "Fira Code";
  font-size: 1em;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 400;
}

.h6, h6 {
  font-size: 1.125rem;
}

h5, .h5 {
  font-size: 1.40625rem;
}

h4, .h4 {
  font-size: 1.6875rem;
}

.nav-tabs .nav-link, 
.nav-tabs ul.nav.navbar-nav > li > a, 
.nav-tabs > li > a, 
.nav-tabs .nav-pills > li > a, 
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link:focus {
  color: #7C7E8A;
  background-color: #D3D3D7;
  border-color: #BEBEC3;
}

.irs--shiny .irs-bar {
  border-top: 1px solid #776274 !important;
  border-bottom: 1px solid #776274 !important;
  background: #776274 !important;
}

.irs--shiny .irs-from, 
.irs--shiny .irs-to, 
.irs--shiny .irs-single {
  color: #FFFEFD !important;
  background-color: #776274 !important;
}