/* HTML TAGS */

h2 {
  border-width: 0 0 ;
}

/* BOOTSTRAP CLASSES */

.navbar-header {
  /* no need to display as we have logo*/
  display: none;
}

.col-sm-1, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4, 
.col-sm-5, 
.col-sm-6, 
.col-sm-7, 
.col-sm-8, 
.col-sm-9, 
.col-sm-10, 
.col-sm-11, 
.col-sm-12 {
    float: left;
}

.sandstone, 
.tooltip, 
.dropdown-menu .dropdown-item, 
.dropdown-menu > li > a, 
.pagination, 
.breadcrumb,
.nav-pills .nav-link, 
.nav-pills ul.nav.navbar-nav > li > a, 
.nav-pills .nav-tabs > li > a, 
.nav-pills > li > a, 
.nav-tabs .nav-link, .nav-tabs ul.nav.navbar-nav > li > a, 
.nav-tabs > li > a, 
.nav-tabs .nav-pills > li > a, 
.btn, 
.navbar .nav-link, 
.navbar ul.nav.navbar-nav > li > a, 
.navbar .nav-tabs > li > a, 
.navbar .nav-pills > li > a {
    font-size: 18px;
}

/* OTHER EXTERNAL CLASSES */

.loader-img {
  max-width: 200px;
}

/* CUSTOM CLASSES AND IDS */

#HaDeX-logo {
  position: absolute;
  float: right;
  top: 0px;  
  right: 0px;
  z-index: 1000;
  
  /* height of navbar = 5 + 40 + 5 */
  margin: 5px;
  height: 40px; 
}

#HaDeX-funding-icons {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

.HaDeX-nonplot-tab-content {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}


