.site-backbone {
  display: none;
}

.mobile-site-backbone {
  display: block;
}

.logo-panel {
  background: var(--theme-color-first);
  width: 100%;
  padding: 0px;
  height: 100px;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.mobile-information > img {
  max-width: 100%;
  height: auto;
}